h1 {
    text-align: center;
}

h1#projects {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .3rem;
    font-weight: 300;
    font-family: monospace;
    color: green;
    display: none;
}

body[a="auto"] table,
body[a="auto"] th,
body[a="auto"] td {
    border: none;
}

table td {
    border: thin dotted #000 !important;
    border-width: 0 0 1px 0 !important;
}

p em {
    font-size: 0.8rem;
    text-align: right;
    display: block;
}

ul {
    display: none;
}

.site-footer {
    border-top: 0px solid #eee;
    padding-top: 3rem;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #666;
}